.navbar {
    text-transform: uppercase;
}

.navbar.is-dark{
    background-color: #444;
}

.footer a{
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}


.input, .button{
    border-radius: 0;
}


#log {
    color: rgb(246, 255, 255);
}

.mogo{
    margin-bottom: 100px;
    
}

.footer{
    margin-bottom: 0%;
    border-bottom: 0%;
}

.vee{
    display: flex;
    flex-direction: column;
    border: #444 1px;
}


