<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
   
    <title>Document</title>
</head>
<body>
    <div class="mogo">
        <nav class="navbar navbar-dark bg-dark fixed-top" >
            <div class="container-fluid">
                <a href="{% url 'core:frontpage' %}" class="navbar-item"><strong id="log">Interioshop</strong></a>  
                <div class="nav navbar-item">
                    {% for category in menu_categories %}
                    <ul>
                        <li>
                            <a  href="{% url 'product:category' category.slug %}"">{{category.title}}</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Welcome</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="navbar">
                        <form action="{{% url 'product:search' %}" method="get">
                            <div class="container">
                                <div>
                                    <input type="text" placeholder="search" name="query">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="offcanvas-body">
                        
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'core:frontpage'%}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:contact' %}">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'become_vendor' %}">Become vendor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add_product' %}">Add product</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    <div >
        <section class="section">
            <div class="container">
    {% block content %}
                
    this is the base

    {% endblock content %}
            </div>
    </section>
    </div>


   
    <footer class="footer">
        <h3 class="is-size-4 md-4">Interioshop</h3>
        {% if request.user.is_authenticated %}
        <a href="{% url 'vendor_admin' %}">Vendor Admin</a>
        {%else%}
        <a href="{% url 'become_vendor' %}">Become vendor</a>
        {%endif%}
    </footer>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>