{% extends "core/base.html" %}
{% block content %}
 <h1>list</h1>

<div class="col">
    <div class="card">
        <figure class="card-img-top">
            <img src="{{ product.get_thumbnail }}">
        </figure>
        <div class="card-body">

            <h2 class="card-title">{{ product.title }}</h2>
            
            <h3 class="card text">${{ product.price }}</h3>
            
            <hr>
            
            <a href="{% url 'product:product' product.category.slug product.slug %}" class="btn btn-primary btn-lg">View</a>
        </div>
    </div>
</div>
{% endblock content %}